
/*
  © 2025 Livinkumar S. All rights reserved.
  This CSS file is part of the personal portfolio project.
  Unauthorized copying, distribution, or modification is strictly prohibited.
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #6366f1;
  --secondary-color: #ec4899;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --gradient-1: linear-gradient(
    to bottom right,
    #4f46e5,
    #0f172a
  ); /* Indigo to Slate */
  --gradient-2: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
}

.section {
  margin-bottom: 70px;
}

html {
  max-width: 100vw;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}


/* Header  */

body {
  background: var(--gradient-1);
  padding: 30px 5%;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .hero {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.header a {
  text-decoration: none;
}

.header > .hero .initial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: var(--gradient-2);
  box-shadow: 1px 1px 70px 1px black;
  display: block;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}

.header > .hero {
  color: white;
  font-size: 23px;
  font-weight: bolder;
}

.header > .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  animation: leftToRight 0.7s ease-in-out forwards;
}

.header > .nav-links > a {
  color: var(--extra-light);
  font-weight: 600;
}

.header > .btns > a > button {
  background: var(--gradient-2);
  box-shadow: 1px 1px 70px 1px black;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}

.header > .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header > .btns > .toggler {
  cursor: pointer;
  margin-top: 5px;
  display: none;
}

.header > .btns > .toggler > svg {
  width: 30px;
  height: auto;
  fill: white;
}

.header > .btns > .toggler > .close {
  display: none;
}

/* Sidebar */
.sidebar {
  z-index: 20;
  width: 100%;
  background: var(--gradient-2);
  overflow: hidden;
  margin-top: -40px;
  /* transform: scaleY(0); */
  transform-origin: top;
  max-height: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}

.show {
  max-height: 350px;
  padding: 10px 0;
  transform: scaleY(1);
}

.sidebar > a {
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
}

/* Home */
.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  max-width: 95%;
  margin: auto;
}

.home > .text-sec {
  z-index: 10;
  transform: translateX(50px);
  flex: 1;
  max-width: 50%;
}

.home > .text-sec > .name {
  font-size: 76px;
  color: var(--white);
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 10px;
  text-wrap: nowrap;
}

.home > .text-sec > p {
  color: var(--extra-light);
  max-width: 600px;
}

.home > .text-sec > a > button {
  background: var(--gradient-2);
  box-shadow: 1px 1px 70px 1px black;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

.home > .img-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  max-width: 50%;
}

.home > .img-sec > img {
  height: 100vh;
  width: auto;
  border-radius: 50%;
  transform: translateX(100px);
  scale: 0;
  opacity: 0;
  animation: zoomIn 0.7s cubic-bezier(0.42, 0, 0.32, 1.66) forwards;
  transform-origin: center;
}

.home > .img-sec > h2 {
  color: white;
  letter-spacing: 30px;
  transform: rotate(90deg);
  height: 40px;
  font-weight: 100;
  opacity: 0.6;
}

/* About */

.about {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about > div {
  flex: 1;
}

.about > .img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about > .img-section > .img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  scale: 0;
  opacity: 0;
  animation: zoomIn 0.7s cubic-bezier(0.42, 0, 0.32, 1.66) forwards;
  transform-origin: center;
  animation-timeline: view();
  animation-range: entry 30%;
}

.about > .img-section > .img > .dec:first-child {
  width: 40%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
}

.about > .img-section > .img > .dec:last-child {
  width: 40%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about > .img-section > .img > .pro {
  z-index: 10;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.about > .text-section > h2 {
  color: var(--white);
  font-size: 40px;
}

.about > .text-section > p {
  color: var(--white);
  margin-top: 20px;
}

.about > .text-section > a > button {
  background: var(--gradient-2);
  box-shadow: 1px 1px 70px 1px black;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

/* Service */

.service > h1 {
  color: var(--white);
  font-size: 40px;
  text-align: center;
}

.service > .services {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}

.service > .services > .ser {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  text-align: center;
  background: var(--gradient-2);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
}

.service > .services > .ser > * {
  z-index: 10;
}

.service > .services > .ser > svg {
  z-index: 0;
  height: 80%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 0;
  opacity: 0;
  animation: zoomInSvg 0.7s cubic-bezier(0.42, 0, 0.32, 1.66) forwards;
  transform-origin: center;
  animation-timeline: view();
  animation-range: entry 20%;
}

/* Skills */

.skills {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.skills > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
  width: 80%;
}

.technical {
  flex: 1;
  min-width: 400px;
}

.technical > h3 {
  margin-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.bar {
  margin-bottom: 30px;
}

.bar .info span {
  font-size: 12 px;
  font-weight: bold;
  opacity: 0;
  animation: showText 1s linear forwards;
}

.bar .progress-line {
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  transform: scaleX(0);
  animation: animate 1s linear forwards;
  transform-origin: left;
}

.bar .progress-line > span {
  display: block;
  width: calc(1% * var(--w));
  height: 5px;
  background: var(--gradient-1);
  transform: scaleX(0);
  animation: animateSpan 3s linear forwards infinite;
  animation-delay: 0.7s;
  transform-origin: left;
  position: relative;
}

.bar .progress-line > span > i {
  position: absolute;
  top: -400%;
  right: 0;
}
.bar .progress-line > span > p {
  font-size: 12px;
  position: absolute;
  right: 0%;
  bottom: -400%;
}

.cognitive {
  flex: 1;
  min-width: 300px;
}
.cognitive > h3 {
  margin-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* Projects */

.projects {
  width: 100%;
  max-width: 1200px;

  color: #fff;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.projects > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

.projects .project {
  position: relative;
  width: 350px;
  height: 270px;
  border-radius: 20px;
  background: #000;
  overflow: hidden;
  scale: 0;
  opacity: 0;
  animation: zoomIn 0.7s cubic-bezier(0.42, 0, 0.32, 1.66) forwards;
  transform-origin: center;
  animation-timeline: view();
  animation-range: entry 30%;
}

.projects .project .layer {
  padding: 20px;
  background: var(--gradient-2);
  position: absolute;
  color: #000;
  height: 80%;
  bottom: -100%;
  transition: all 1s ease;
  backface-visibility: hidden;
}

.projects .project .layer p {
  font-size: small;
}

.projects .project:hover {
  background: local;
}
.projects .project:hover .layer {
  bottom: -10%;
}

.projects .project .layer .visit {
  padding: 2px 7px;
  border-radius: 5px;
  background-color: #000;
  color: #ad49e1;
  margin-top: 10px;
  cursor: pointer;
}

.projects .project.pro-1 {
  background-image: url("./assets/images/frontend.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project.pro-2 {
  background-image: url("./assets/images/shop.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project.pro-3 {
  background-image: url("./assets/images/logo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact */

.contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.contact > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact > div .con-text {
  flex: 1;
  min-width: 400px;
}

.contact > div .form {
  flex: 1;
  min-width: 400px;
}
.contact > div .form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact > div .form > form > input,
.contact > div .form > form > textarea {
  width: 90%;
  max-width: 500px;
  padding: 10px;
  scale: 0;
  opacity: 0;
  animation: zoomIn 0.7s cubic-bezier(0.42, 0, 0.32, 1.66) forwards;
  transform-origin: center;
  animation-timeline: view();
  animation-range: entry 50%;
}
.contact > div .form > form > textarea {
  height: 100px;
}

.contact > div .form > form > .submit {
  background: var(--gradient-2);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.icon-list {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
}

.icon-list a svg {
  width: 30px;
  height: 30px;
  fill: var(--white);
}
.icon-list a svg:hover {
  scale: 1.2;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  color: #fff;
  margin-top: 50px;
}

.footer a {
  text-decoration: none;
  color: #ec4899;
}



/*
  © 2025 Livinkumar S. All rights reserved.
  This CSS file is part of the personal portfolio project.
  Unauthorized copying, distribution, or modification is strictly prohibited.
*/